#noActivityNoUsers.no-activity.p10t
	i.fa.fa-thumbs-down
	p
		| It's just you Hans Solo! You should think about 
		a inviting some friends 
		| to try this out - co-workers, colleagues, friends, family...doesn't matter.