.row.stats-header.secondary
	.col-md-12.col-sm-12.col-xs-12
		| settings & preferences
.row.account-section
	.col-md-12.col-sm-12.col-xs-12.section-body
		.section-detail
			include ../partials/settings/userAppHints
		.section-detail
			include ../partials/settings/userDailyReminders
		.section-detail.remind-time-section
			include ../partials/settings/userAMRemindTime
		.section-detail.remind-time-section
			include ../partials/settings/userPMRemindTime