#helpHome.help
	.row
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			.help-close.close &times;
			h1 collaboration y'all!
			p The suggestion feature is meant to allow for your peers to suggest items for your day's Dubyaas. Maybe they think you should be focusing on something not on your list, or they just want to shovel more stuff on your plate...either way, this is where they land.
			p Each time a user suggests something to you a red notification balloon will appear at the top right of your screen.
			p You can relax though, just because they suggest, doesn't mean you have to do.  You can easily disregard these suggestions, or handily add them to your "Save for Later" list on your Dubyaa home screen!

	.row.p10t.p5b
		.col-lg-3.col-md-3.col-sm-3.col-xs-3
			a.btn.btn-warning.help-close
				span.fa.fa-thumbs-o-up.p5r
				| Got it
		.col-lg-9.col-md-9.col-sm-9.col-xs-9.align-right
			span.meta.small.p10r Don't show help on any screens
			input.hide-all(type="checkbox")