#helpPulse.help
	.row
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			.help-close.close &times;
			h1 keep you finger on the pulse
			p See who's winning their day! Click on individual items under "LATEST ACTIVITY" to give a Kudos, Boo, or even dispute a claimed Dubyaa.
			p Also "prod" those who haven't logged in for a while -- they'll get an email letting them know that you think they should be more active.
	.row.p10t.p5b
		.col-lg-3.col-md-3.col-sm-3.col-xs-3
			a.btn.btn-warning.help-close
				span.fa.fa-thumbs-o-up.p5r
				| Got it
		.col-lg-9.col-md-9.col-sm-9.col-xs-9.align-right
			span.meta.small.p10r Don't show help on any screens
			input.hide-all(type="checkbox")