#helpHome.help
	.row
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			.help-close.close &times;
			h1 this is where winning begins!
			p Welcome to your main Dubyaa screen! This is where you plan your day &amp; mark those wins that make us all feel so good!
			h1 so, what is a dubyaa?
			p A Dubyaa is a win during your day: an accomplishment that moves the needle, that you want want to celebrate. It's easy to think of Dubyaas as tasks, and this as a task list, but honestly task lists can get noisy...
			p To mute the noise we limit your Dubyaa! list to 3 things...3 items that when won will help you Win Your Day!
	.row.p10t.p5b
		.col-lg-3.col-md-3.col-sm-3.col-xs-3
			a.btn.btn-warning.help-close
				span.fa.fa-thumbs-o-up.p5r
				| Got it
		.col-lg-9.col-md-9.col-sm-9.col-xs-9.align-right
			span.meta.small.p10r Don't show help on any screens
			input.hide-all(type="checkbox")