#helpLeaderboard.help
	.row
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			.help-close.close &times;
			h1 down to brass tax
			p The culmination of all the hard work -- the fabled Leaderboard! Everyone is listed by # of Dubyaas for the current month.  The tags to the left of the name indicate how productive you are for the month -- these are managed by Account Administrators.
			p Click on the heading to change the month.  Click on a name to view the DubyaaStat view for that user.
	.row.p10t.p5b
		.col-lg-3.col-md-3.col-sm-3.col-xs-3
			a.btn.btn-warning.help-close
				span.fa.fa-thumbs-o-up.p5r
				| Got it
		.col-lg-9.col-md-9.col-sm-9.col-xs-9.align-right
			span.meta.small.p10r Don't show help on any screens
			input.hide-all(type="checkbox")