#helpHome.help
	.row
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			.help-close.close &times;
			h1 check out who's working on what!
			p
				| browse through your peer's list of potential dubyaa's.  we have things arranged by teams, so if you haven't set your teams up yet&nbsp;
				a(href="/account") be sure to do so here!

	.row.p10t.p5b
		.col-lg-3.col-md-3.col-sm-3.col-xs-3
			a.btn.btn-warning.help-close
				span.fa.fa-thumbs-o-up.p5r
				| Got it
		.col-lg-9.col-md-9.col-sm-9.col-xs-9.align-right
			span.meta.small.p10r Don't show help on any screens
			input.hide-all(type="checkbox")