#pointsMonth.p10t.p5b.m20l.m20r.border-bottom
	include ../partials/loader
#pointsQuarter.p5t.p5b.m20l.m20r.border-bottom
	include ../partials/loader
#pointsYear.p5t.p10b.m20l.m20r
	include ../partials/loader