#noSuggestions.hide.align-center.p20t
	h1 You're Good!
	.p10t.p10b(style="font-size:15em;opacity:0.2;line-height:1").ion-ios-lightbulb
	p Looks like everyone is happy with what you're doing...keep it up champ!