#noSuggestionsSent.hide.align-center.p20t
	h1 Nothing Here
	.p10t.p10b(style="font-size:13em;opacity:0.2;line-height:1")
		i.fa.fa-paper-plane
	p You haven't sent anything out yet...click '+' above to suggest something!