#noTodos.row.m20b.hide
	.col-lg-12.col-md-12.col-sm-12.col-xs-12
		.p10.align-center.block
			.align-center
				i(style="font-size:10em;opacity:0.2").fa.fa-frown-o
			span.bold You don't have anything on your plate!
			br
			span.meta Promote items below or click '+' above!
//- #noTodos.hide.align-center.no-todos.p20t
	h1 Nothing To Do!
	p Soooo, you're just going to ride your bike or something? What if you kept ringing in the Dubyaa's?!