//- .row.stats-header.secondary
	.col-lg-12.col-md-12.col-sm-12.col-xs-12
		| latest activity
//- #showWinsContainer.row.stats-header.tertiary.gray
	.col-lg-12.col-md-12.col-sm-12.col-xs-12
		a.block.only-wins only show dubyaa's
//- #showAllContainer.row.stats-header.tertiary.gray.hide
	.col-lg-12.col-md-12.col-sm-12.col-xs-12
		a.block.show-all show all
.row
	.col-lg-6.col-md-6.col-sm-6.col-xs-6
		include ../partials/noActivity
		#list

