.row.border-bottom.p5t.p5b
	.col-md-6.col-sm-6.col-xs-6.meta Who is this?
	.col-md-6.col-sm-6.col-xs-6.meta Last did something on...
each user, id in users
	.row.border-bottom.p5t.p5b.activity-prod-detail
		include prodDetail

