#modalBacklogHelp
	#backlogHelp.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title Things for Later...
				.modal-body
					p This is a collection of items that you want or will need to focus on in the future.
					p These items can be promoted by clicking the blue up arrow -- after being promoted you will be mark as Dubyaa's once completed!
				.modal-footer
					.clearfix
						.pull-right
							button.btn.btn-primary(type="button", data-dismiss="modal") Got it!