#modalChangeTeam(data-acctid="#{session.dubyaaUser.user.accountId}", data-userid="#{session.dubyaaUser.user.id}")
	#changeTeam.modal.fade
		input#teamId(type="hidden", value="")
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title Change Team Roster
				.modal-body.clearfix
					.team-roster
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") Close
					button#doChangeTeamLead.btn.btn-primary(type="button", data-dismiss="modal") Save Changes