#whatIsScore.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				h4.modal-title What is a "Productivity Score?"
			.modal-body.clearfix
				p
					| We know that everyone likes to get things done, but we thought 
					| it would make it more interesting to throw a general average 
					| at how well you are doing at being productive.
				p
					| This score is a calculation of 8 different variables that 
					| gauge your interaction with the system, performance against 
					| standards, and of course...the rate at which you are 
					| racking up those Dubyaas...all over a period of time.
				p
					| Keep in mind this is calculated nightly, so do your best today 
					| to boost your score tomorrow!
			.modal-footer
				button.btn.btn-default(type="button", data-dismiss="modal") Close
