.right-heading.clearfix
	.pull-right
		a.setup(href="#whatIsScore", data-toggle="modal")
			i.fa.fa-question
	.pull-left
		h4 Your Score
#productivityScore.p10t.p10l.p10r
	#productivity(style='height:120px;')
		include noScore
include ../partials/modals/whatIsScore