#stepFour.overlay-element.initial
	.close &times;
	h1
		| Get Excited for Dubyaas!
		span.ion-arrow-right-c.p5l
	p.clearfix
		.pull-right
			span.icon.ion-arrow-shrink
		| You can set daily point goals that will shape you monthly, quarterly and annual ambitions for collecting Dubyaas!
	.clearfix
		.pull-right
			a.next.btn.btn-default.btn-xs.m5r(data-next="stepThree", data-next-elem="step-three") Prev
			a.next.btn.btn-primary.btn-xs(data-next="stepFive", data-next-elem="step-five") Next
		.pull-left
			a.skip.meta Skip help
