#stepFive.overlay-element.initial
	.close &times;
	h1 Now Go Get'er Done!
	.align-center
		span.ion-thumbsup(style="font-size: 128pt;line-height: 48px;color: #ccc")
	p 
		| Time to get to work...go get some W's!

	.clearfix.border-top.p10t
		a.skip.btn.btn-primary.btn-xs All Set!