#stepTwo.overlay-element.initial
	.close &times;
	h1 Create Something New to Win
	p.clearfix
		.pull-right
			span.icon.ion-edit
		| Simply click here to create something new to 'Win'...you can assign point values, tags and expiration dates to your 
		| items to help you prioritize, schedule and categorize all your ensuing Dubyaas!  Keep them short, manageable and try to get them done in a day.

	.clearfix
		.pull-right
			a.next.btn.btn-default.btn-xs.m5r(data-next="stepOne", data-next-elem="step-one") Prev
			a.next.btn.btn-primary.btn-xs(data-next="stepThree", data-next-elem="step-three") Next
		.pull-left
			a.skip.meta Skip help
