#stepZero.overlay-element.initial
	.close &times;
	h1 You're Here & We're Ecstatic!
	.align-center
		span.ion-happy-outline(style="font-size: 128pt;line-height: 48px;color: #ccc")
	p 
		| Welcome to Dubyaa! We are going to help you focus on the important things, while trimming out all the other noise. Let's get started!

	.clearfix.border-top.p10t
		.pull-right
			a.next.btn.btn-primary.btn-xs(data-next="stepOne", data-next-elem="step-one") Take a Quick Tour
		.pull-left
			a.skip.meta Skip help
