#stepOne.overlay-element.initial
	.close &times;
	h1 What is a "Dubyaa"?
	p.clearfix
		.pull-right
			span.ion-clipboard.icon
		| Dubyaa's are those big wins we all need to propel ourselves to wild and crazy success professionally, personally...everywhere.  Don't think of these things as tasks on a list, but rather opportunities for achievement in areas of your life.
	.clearfix
		.pull-right
			a.next.btn.btn-primary.btn-xs(data-next="stepTwo", data-next-elem="step-two") Next
		.pull-left
			a.skip.meta Skip help
