#stepThree.overlay-element.initial
	.close &times;
	h1
		| Filter Your Wins
		span.ion-arrow-right-c.p5l
	p.clearfix
		.pull-right
			span.icon.ion-ios-color-filter-outline
		| Use these controls to view the things that are most important to you...
	.clearfix
		.pull-right
			a.next.btn.btn-default.btn-xs.m5r(data-next="stepTwo", data-next-elem="step-two") Prev
			a.next.btn.btn-primary.btn-xs(data-next="stepFour", data-next-elem="step-four") Next
		.pull-left
			a.skip.meta Skip help
