#accountType.row.signup-step(data-step="1")
	.row.stats-header
		.col-md-12.col-sm-12.col-xs-12
			| how to register?
	.row
		.col-md-12
			.p10
				p
					label.p10b Your email address (this will be your username)
					input#emailAddress.form-control(placeholder="Your email address...", data-snag="0", data-available="1")
				.operands.clearfix
					.pull-left
						a.go-login(href="/login") Goto Login
					.pull-right
						a.account-create.btn.btn-success
							| Account Name
							span.p5l.fa.fa-chevron-right