#accountSearch.row.hide.signup-step(data-step="2a")
	.col-md-12
		h3 Account Secret Key
		p Your account admin should have given you a secret registration key, enter below:

		.clearfix.w100
			.pull-left.w95
				input#registrationKey.form-control(placeholder="Account registration key...")
			.pull-right.w5.align-right
				span#keyValid.hide.ion-ios-checkmark.key-status.status-ok
				span#keyInvalid.hide.ion-ios-close.key-status.status-notok
		#displayName.hide.font-s.p10t.p10b
			| You'll be registered to: 
			span.tag.bold.p5l
			.change-key.hide.font-xs
				| Not the right account? 
				a Enter a different key
		.operands.clearfix.m20t
			.pull-left
				a.go-login(href="/login") Goto Login
			.pull-right
				a.go-back.btn.btn-default(data-step="1")
					span.fa.fa-chevron-left
				a.go-profile.btn.btn-success.disabled(data-from="search") My Profile