#finishWait.row.hide.signup-step(data-step="5")
	.col-md-12
		.clearfix
			.pull-left 
				h3 Almost Done!
				p Give us just a moment to get you all setup...when complete, we'll log you in so you can start piling up the Dubyaa's!
				p.align-center
					i.fa.fa-spin.fa-spinner.font-xl